PORT=3000
DB_HOST=localhost
DB_USER=parking_user
DB_PASS=tu_contraseña
DB_NAME=parking_db
JWT_SECRET=cambiar_en_produccion
JWT_EXPIRES=8h
FRONTEND_URL=https://gabrielsanchez73.github.io/find-and-pay-for-parking_
